node_modules/
.env
.expo/
build/
dist/
*.log
.DS_Store
/frontend/.flutter-plugins-dependencies
/.idea/.gitignore
/frontend/android/.gitignore
/frontend/ios/.gitignore
/frontend/linux/.gitignore
/frontend/macos/.gitignore
/frontend/windows/.gitignore
/frontend/.metadata
/frontend/analysis_options.yaml
/frontend/android/app/src/debug/AndroidManifest.xml
/frontend/android/app/src/main/AndroidManifest.xml
/frontend/android/app/src/profile/AndroidManifest.xml
/frontend/windows/runner/resources/app_icon.ico
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/frontend/ios/Runner/AppDelegate.swift
/frontend/macos/Runner/AppDelegate.swift
/frontend/ios/Flutter/AppFrameworkInfo.plist
/frontend/macos/Runner/Configs/AppInfo.xcconfig
/frontend/android/app/build.gradle.kts
/frontend/android/build.gradle.kts
/frontend/linux/flutter/CMakeLists.txt
/frontend/linux/runner/CMakeLists.txt
/frontend/linux/CMakeLists.txt
/frontend/windows/flutter/CMakeLists.txt
/frontend/windows/runner/CMakeLists.txt
/frontend/windows/CMakeLists.txt
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/frontend/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/frontend/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/frontend/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/frontend/ios/Runner.xcworkspace/contents.xcworkspacedata
/frontend/macos/Runner.xcworkspace/contents.xcworkspacedata
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/frontend/.idea/libraries/Dart_SDK.xml
/frontend/ios/Flutter/Debug.xcconfig
/frontend/macos/Runner/Configs/Debug.xcconfig
/frontend/macos/Runner/DebugProfile.entitlements
/.idea/deviceManager.xml
/.idea/caches/deviceStreaming.xml
/frontend/web/favicon.png
/frontend/fitflow.iml
/.idea/fitflow-redesign-.iml
/frontend/android/fitflow_android.iml
/frontend/macos/Flutter/Flutter-Debug.xcconfig
/frontend/macos/Flutter/Flutter-Release.xcconfig
/frontend/windows/runner/flutter_window.cpp
/frontend/windows/runner/flutter_window.h
/frontend/linux/flutter/generated_plugin_registrant.cc
/frontend/windows/flutter/generated_plugin_registrant.cc
/frontend/linux/flutter/generated_plugin_registrant.h
/frontend/windows/flutter/generated_plugin_registrant.h
/frontend/linux/flutter/generated_plugins.cmake
/frontend/windows/flutter/generated_plugins.cmake
/frontend/macos/Flutter/GeneratedPluginRegistrant.swift
/frontend/android/gradle.properties
/frontend/android/gradle/wrapper/gradle-wrapper.properties
/frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/frontend/web/icons/Icon-192.png
/frontend/web/icons/Icon-512.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/frontend/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/frontend/web/icons/Icon-maskable-192.png
/frontend/web/icons/Icon-maskable-512.png
/frontend/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/frontend/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/frontend/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/frontend/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/frontend/web/index.html
/frontend/ios/Runner/Info.plist
/frontend/macos/Runner/Info.plist
/frontend/.idea/libraries/KotlinJavaRuntime.xml
/frontend/android/app/src/main/res/drawable/launch_background.xml
/frontend/android/app/src/main/res/drawable-v21/launch_background.xml
/frontend/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/frontend/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/frontend/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/frontend/ios/Runner/Base.lproj/LaunchScreen.storyboard
/frontend/linux/runner/main.cc
/frontend/windows/runner/main.cpp
/frontend/ios/Runner/Base.lproj/Main.storyboard
/frontend/.idea/runConfigurations/main_dart.xml
/frontend/android/app/src/main/kotlin/com/example/fitflow/MainActivity.kt
/frontend/macos/Runner/MainFlutterWindow.swift
/frontend/macos/Runner/Base.lproj/MainMenu.xib
/frontend/web/manifest.json
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/frontend/.idea/modules.xml
/frontend/linux/runner/my_application.cc
/frontend/linux/runner/my_application.h
/frontend/.dart_tool/package_config.json
/frontend/.dart_tool/package_graph.json
/frontend/ios/Runner.xcodeproj/project.pbxproj
/frontend/macos/Runner.xcodeproj/project.pbxproj
/frontend/pubspec.lock
/frontend/pubspec.yaml
/frontend/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/frontend/README.md
/frontend/macos/Runner/Release.entitlements
/frontend/ios/Flutter/Release.xcconfig
/frontend/macos/Runner/Configs/Release.xcconfig
/frontend/windows/runner/resource.h
/frontend/windows/runner/runner.exe.manifest
/frontend/windows/runner/Runner.rc
/frontend/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/frontend/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/frontend/ios/Runner/Runner-Bridging-Header.h
/frontend/ios/RunnerTests/RunnerTests.swift
/frontend/macos/RunnerTests/RunnerTests.swift
/frontend/ios/Runner/SceneDelegate.swift
/frontend/android/settings.gradle.kts
/frontend/android/app/src/main/res/values/styles.xml
/frontend/android/app/src/main/res/values-night/styles.xml
/frontend/windows/runner/utils.cpp
/frontend/windows/runner/utils.h
/.idea/vcs.xml
/frontend/.dart_tool/version
/frontend/macos/Runner/Configs/Warnings.xcconfig
/frontend/.dart_tool/dartpad/web_plugin_registrant.dart
/frontend/test/widget_test.dart
/frontend/windows/runner/win32_window.cpp
/frontend/windows/runner/win32_window.h
/frontend/.idea/workspace.xml
/frontend/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/frontend/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
